<IfModule mod_rewrite.c>
    RewriteEngine On
    # Redirection to protect application directories and route traffic to Laravel public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
